.newListing{
    padding: 60px 100px;
    min-height: 80vh;
    height: auto;
}

.title{
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-yellow);
    text-align: center;
}


.newListingForm{
    padding: 80px 100px;
}

.newListingForm > button{
    display: block;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 20px;
}

.form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.formTitle{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.inputGroup > p{
    color: gray;
    font-size: 13px;
    margin-top: 10px;
}

.inputGroup > input{
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    margin: 5px 0 20px 0;
    border-bottom: 1px dashed gray;
    outline: none;
    color: #f1f1f1;
    transition: 0.2s all linear;
}

.inputGroup > input::placeholder{
    font-size: 14px;
}

.inputGroup > input:focus{
    border-bottom: 1px dashed var(--primary-yellow);
}

@media screen and (max-width: 468px) {
    .newListing{
        padding: 20px;
    }
    .title{
        font-size: 30px;
    }
    .newListingForm{
        padding: 20px;
    }
    .form{
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
}