@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --primary-black: #000000;
  --primary-yellow: #E5EF52;
  --primary-purple: #9055FF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-black);
  color: #f1f1f1;
  scroll-behavior: smooth;
}

.primary-btn{
  padding: 8px 20px;
  background-color: var(--primary-yellow);
  color: var(--primary-black);
  border-radius: 30px;
  border: 1px solid var(--primary-yellow);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: 0.2s all linear;
  width: max-content;
}

.primary-btn:hover{
  background-color: var(--primary-black);
  color: #f1f1f1;
}

.danger{
  background-color: rgb(245, 47, 47);
  border: 1px solid rgb(245, 47, 47);
}